* {
    padding: 0;
    margin: 0;
  }
  .home{
    display: flex;
    margin: 3rem;
  }
  .ui.primary.button{
    text-align: right;
  }
  .add-post-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
  }
  .ui.form input[type="text"], textarea {
    margin-bottom: 1rem !important;
  }
  .home.ui.primary.button{
    display: flex;
    justify-content: end;
  }
  