*{
    padding: 0;
    margin: 0;
}
.converter{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.converter h2{
    text-align: center;
}
.card{
   width: 50% !important;
   justify-content: center !important;
}
.btn{
    width: 20%;
    background-color: #2bbbad !important;
    padding-bottom: 1rem;
}

